//===== _Color Variables =====
//============================

$main: #101010;
$secondary: #DBDBDB;
$tertiary: #ECECEC;

//===== _Mixins ==============
//============================

@mixin button($color) {
    color: lighten($color, 90);
    background: $color;
    padding: 0.5em;

    &:hover {
        background: lighten($color, 10);
        border-color: lighten($color, 20);
    }
}

@mixin input {
    color: darken($secondary, 10);
    font-size: 0.9em;
    font-style: italic;
}

@mixin shrinkdown {
    min-width: 690px;

    @media screen and (max-width: 1250px){
        width: 80%;
    }

    @media screen and (max-width: 800px){
        width: 95%;
    }
    
}

//===== _Styles ==============
//============================

// _Resets
a {
    text-decoration: none;
}

input:focus {
    outline-offset: auto;
}

:focus {
    outline: none;
}

// _General/Layout
* {
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

body {
    background-size: cover;
    float: left;
    font-size: 100%;
    margin: 0;
    width: 100%;
}

.col-left,
.col-right {
    width: 48%;
}

.col-left {
    float: left;
    margin-left: 0;
    margin-right: 1%;
}

.col-right {
    float: right;
    margin-left: 1%;
    margin-right: 0;
}

// _Utility Classes
.clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table; 
    }

    &:after {
        clear: both;
    }
} 

.un-list {
    list-style: none;

    li {
        float: left;
        margin-right: 0.5em;
    }
}

//Css transition
.float {
    display: inline-block;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.float:hover,
.float:focus,
.float:active {
    transform: translateY(-2px);
}

//Sometimes useful for making icons
.lato {
    font-family: 'Lato', 'Arial', sans-serif;
}

//Sometimes useful for making icons
.times {
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
    line-height: 1.2em;
}

.right {
    float:right!important;
}

.icon.search-mode {
    @include button($color: $main);
}


// _General container 
.module {
    margin: 3em auto auto;
    min-width: 320px;
    overflow: auto;
    width: 50%;

    ul,
    li,
    a {
        float: left;
    }

    h4 {
        background: $secondary;
        font-size: 0.7em;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 0;
        padding: 0.7em;
        text-transform: uppercase;
        width: 100%;
    }
    
    // _Main Search Container
    &.search {
        @include shrinkdown;
    }

    // _Link Icons
    i.fa {
        color: $main;
        transition: color, 0.25s;

        &.fa-inverse{
            color: #FFFFFF;
        }
    }

    .fa-stack:hover {
        transition: color, 0.25s;

        i.fa {
            color: lighten($main, 10);

            &.fa-inverse {
                color: #FFFFFF;
            }
        }
    }

    // _Left and Right Column containers
    &.small {
        background: $tertiary;
        border: 1px solid $secondary;
        clear: left;
        float: left;
        width: 100%;
        
        // _Todo Container
        &.todo-wrapper {
            clear: none;
            height: 456px;
            margin-right: 0;
        }
    }
}

//Sometimes useful for making icons
.fa-ellipsis-v {
    &:before {
        content: '';
    }

    &:after {
        content: '\f142';
    }
}

// _Main Search

.search-input {
    border: 4px solid $main;
    border-radius: 5px;
    clear: both;
    float: left;
    font-size: 2rem;
    height: 3rem;
    line-height: 2rem;
    margin: auto auto 1rem 15%;
    padding-left: 0.3rem;
    width: 70%;
}

//this is all pretty hacky....
// _Todo List
.todo-field {
    border: 4px solid $main;
    border-radius: 5px;
    bottom: 0;
    font-size: 1rem;
    height: 2rem;
    line-height: 1.1rem;
    margin-left: 10%;
    padding-left: 0.2rem;
    position: absolute;
    width: 80%;
}

li.task {
    float: none;
}

.todo-wrapper {
    form {
        display: none;
        float: left;
        height: 80%;
        position: relative;
        width: 100%;

        &:nth-of-type(1) {
            display: block;
        }
    }

    .todo-inner {
        height: 100%;
        margin-top: -3em;
    }

    &.flipped form {
        &:nth-of-type(1) {
            display: none;
        }

        &:nth-of-type(2) {
            display: block;
        }
    }
}

#done-list {
    .task {
        color: #d86161;
    }
}

// _Search Mode Buttons
.search-modes {
    margin-left: 16%;
    padding: 0;
    width: 70%;

    li {
        float:right;
        margin-right: 0;
        margin-left: 0.5em;
    }
}

.indicator {
    left: -10px;
    top: -20px;
    width: 1em;

    i.fa-stack-1x {
        color: $secondary!important;
    }

    i.fa.fa-inverse {
        color: darken($main, 40)!important;
        font-size: .6rem;
    }
}

// _Link Containers
.links-wrapper {
    margin: auto;
    width: 50%;
    
    @include shrinkdown;
}

// _Text inputs
input::-webkit-input-placeholder { /* WebKit browsers */
    @include input;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @include input;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    @include input;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    @include input;
}

// _Calendar

.calendar { 
    ul {
        margin-top: 0;
        padding: 0;
        width: 100%;
    }
}

.event {
    border: 1px solid $main;
    float: left;
    height: 150px;
    list-style: none;
    margin: 0 1%;
    opacity: .7;
    width: 18%;

    a {
        color: #000000;
        width: 100%;
    }

    .startDate,
    .startTime {
        display: block;
        width: 100%;
    }

    .startDate {
        background: $main;
        color: $tertiary;
        font-size: 0.7em;
        letter-spacing: 1px;
        margin-top: 0;
        padding: 0.7em;
        text-transform: uppercase;
    }

    .startTime {
        background: $secondary;
        font-size: 0.6em;
        letter-spacing: 1px;
        margin-top: 0;
        padding: 0.7em;
        text-transform: uppercase;
    }

    .title {
        display: block;
        padding: 0.7em;
        width: 100%;
    }

    &.today {
        opacity: 1;
    }

}
